body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: clamp(24px, 5vw, 48px);

    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks elements vertically */
    align-items: center; /* Centers elements horizontally */
    gap: 2vh; /* Adds spacing between elements */
}

h1 {
    color: goldenrod;
    background-color: #016f32; 
    display: inline-block;
    border: 0.5vw solid goldenrod;
    border-radius: 10vw;
    padding: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.board {
    /* position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);  */
    width: 70%; 
    padding-top : 1vh;
    background-color: rgba(255, 255, 153, 0.3);
    border: none;
    border-radius: 3%;
}


button {
    width: 20%;
    
    font-size: clamp(1vw, 2vw, 3vw);
    font-weight: bold;

    border: none;
    border-radius: 0.5vh;
}

.gameManagement-btn {
    color: #016f32;
    background: goldenrod;

    padding-top: 2vh;
    padding-bottom: 2vh;
}

.money {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#player-el {
    margin-right: 3vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    text-align: center;
    width: 40%;
    box-sizing: border-box;

    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks elements vertically */
    align-items: center; /* Centers elements horizontally */
    gap: 2vh; /* Adds spacing between elements */
}

.modal-content input {
    width: 50%;
    padding: 1vh;
    text-align: center;
    border: none;
    border-radius: 0.5vh;
    background-color: rgba(255, 255, 255, 0.7);
}

.modal-content button {
    background: green;
    color: white;
    padding: 1vh 1vh;
    cursor: pointer;
    width: 50%;
}

.modal-content button:hover {
    background: darkgreen;
}
